.img{
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;

}
h1{
    color: black;
    text-align: center;
    font-family: 'Vegan Style Personal Use', sans-serif;
                                                
}
.name{
    color: #ff735c;
    font-family: sans-serif;
}