/*body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 90vw;
  background-image: url(./money.jpg);
}*/

/*.lg {
  font-family: "Montserrat";
  margin-left: 8%;
  margin-top: 10px;
  color: #fe316c;
  font-size: 45px;
  font-weight: bolder;
}

.a {
  margin-left: 30px;
  margin-top: 5px;
  width: 280px;
  background-color: #eaeaea;
  border-color: #eaeaea;
  height: 40px;
  border-radius: 70px;
}
.b {
  text-align: center;
  color: #707070;
}
.sub {
  background-color: #fe316c;
  color: white;
  border: 0;
  margin-top: 25px;
  margin-left: 250px;
  width: 10%;
  border-radius: 10px;
  height: 40px;
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 20px;
}
.c {
  margin-left: 180px;
  margin-top: 30px;
  width: 20%;
  background-color: #eaeaea;
  border-color: #eaeaea;
  height: 40px;
  border-radius: 70px;
}
.card {
  width: 100px;
  height: 50px;
}
*/

.container {

  display: grid;
  /*grid-template-columns: 40% 60%;*/
  grid-column-gap: 50px;
}

form {
  
  max-width: 500px;
 /* margin: 0 auto;*/
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;


}

.form-group {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

select,
input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #e91b35;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #e91b35;
}
.img{
  right: 0;
  bottom: 0;
  margin-bottom: 0%;
  height: 90%;
  position: fixed;
  width: 40%;
}