.container1 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 50px;
}
body {
  background-color: #ededed;
}
.image {
  margin-top: 150px;
  margin-left: 80px;
  height: 400px;
  width: 400px;
}
